# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - swen-quiz-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Java version
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    - name: Build with Maven
      run: mvn clean install

    - uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - uses: Azure/get-keyvault-secrets@v1
      with:
        keyvault: "swen-quiz-app-vault"
        secrets: 'quiz-db-connection-string'
      id: KEY_VAULT_SECRETS

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://swenquizcontainer.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_09ead71b42aa46a286417932192e6cb7 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_0480738b04974af292d1ae1050b05df9 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: swenquizcontainer.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_09ead71b42aa46a286417932192e6cb7 }}/swen-quiz-backend:${{ github.sha }}
        file: ./Dockerfile
        build-args: DB_CONNECTION_STRING=${{ steps.KEY_VAULT_SECRETS.quiz-db-connection-string }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'swen-quiz-backend'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_8773ba1a8b25480d9fba52e6af492329 }}
        images: 'swenquizcontainer.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_09ead71b42aa46a286417932192e6cb7 }}/swen-quiz-backend:${{ github.sha }}'
